# C++ build artifacts
*.o
*.lo
*.slo
*.so
*.a
*.dll
*.exe
*.out
*.app
*.i
*.s
*.su
*.prof
*.gcda
*.gcno
*.gcov

# Build directories
build/
bin/
obj/

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Makefile

# IDEs
.vscode/
.idea/
cmake-build-*/

# Mac OS X
.DS_Store
.AppleDouble
.LSOverride

# Gitcpp repository data
/.gitcpp/

# Test workspace
/test_workspace